.rounded-time {
    background-color: rgb(235, 235, 235);
    border-radius: 45%;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(53, 53, 53);
    font-size: 15px;
  }