<div class="w100 text-center" style="background: rgb(0, 0, 0); height: 20vw; overflow: hidden;">
    <img src="assets/img/year5.jpeg" style="width: 100%; opacity: 0.6;" />
    <h1 class="h1 text-white text-center" style="position: absolute; top: 20vh; left: 0; right: 0;">Programme Pre-Conference Events</h1>
</div>
<br /><br />
<div class="container">
    <hr class="divider">
</div>
<div class="container-fluid pt-0 to-animate">
    
    <div class="row"> 
        <div class="col-md-6 pl-0 m-0  row align-items-center"> 
            <div class="col-3"></div>
            <h2 class="h3 col-9">Pre-Conference Events</h2> 
        </div> 
        <div class="col-md-6 pl-5 m-0 " >  
            <p class="col-9 small ">All times South African Standard Time (SAST), GMT + 2:00.
                Details subject to change. To join the sessions virtually, access the event app and follow the links.</p>
        </div>
    </div> 
  </div>
  <hr class="divider"> 
  <br /><br />


  <div class="container"> 
    <hr class="divider"> 
  </div>
<div class="container-fluid pt-0 to-animate">
    
    <div class="row"> 
        <div class="col-md-4 pl-0 m-0  row align-items-center"> 
            <div class="col-3"></div>
            <h2 class="h5 col-9">Registration</h2>  
        </div> 
        <div class="col-md-2 pl-0 m-0  row align-items-center"> 
            <div class="rounded-time">
                <span class="font-weight-bold"> 
                    08:30 - 22:00
                </span>
              </div>
        </div> 
        <div class="col-md-6 pl-5 m-0 " >  
            <p class="col-9 small "> UCT GSB Academic Conference Centre</p>
        </div>
    </div> 
  </div>

  
  <div class="container"> 
    <hr class="divider"> 
  </div>
<div class="container-fluid pt-0 to-animate">
    
    <div class="row"> 
        <div class="col-md-4 pl-0 m-0  row align-items-center"> 
            <div class="col-3"></div>
            <h2 class="h5 col-9">Side Street Studios Visit</h2>  
        </div> 
        <div class="col-md-2 pl-0 m-0  row align-items-center"> 
            <div class="rounded-time">
                <span class="font-weight-bold"> 
                    08:30 - 10:00
                </span>
              </div>
        </div> 
        <div class="col-md-6 pl-5 m-0 " >  
            <p class="col-9 small ">48 Albert Road, Woodstock
                With Ralph Borland, HUMA Research Fellow</p>
        </div> 
    </div> 
    
    <div class="row mt-4">
        <div class="col-1 "></div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare2.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare1.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare2.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare1.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare1.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
    </div>
  </div>
  
  <div class="container"> 
    <hr class="divider"> 
  </div>
<div class="container-fluid pt-0 to-animate">
    
    <div class="row"> 
        <div class="col-md-4 pl-0 m-0  row align-items-center"> 
            <div class="col-3"></div>
            <h2 class="h5 col-9">Historical Walking Tour of Cape Town</h2>  
        </div> 
        <div class="col-md-2 pl-0 m-0  row align-items-center"> 
            <div class="rounded-time">
                <span class="font-weight-bold"> 
                    08:30 - 22:00
                </span>
              </div>
        </div> 
        <div class="col-md-6 pl-5 m-0 " >  
            <p class="col-9 small ">  Slave Lodge, Crn. Adderley and Wale Street, Cape Town
                With Sabelo Mcinziba, independent researcher</p>
        </div>
    </div> 
    
    <div class="row mt-4">
        <div class="col-1 "></div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare2.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare1.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare2.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare1.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div> 
    </div>
  </div>
  <div class="container"> 
    <hr class="divider"> 
  </div>
<div class="container-fluid pt-0 to-animate">
    
    <div class="row"> 
        <div class="col-md-4 pl-0 m-0  row align-items-center"> 
            <div class="col-3"></div>
            <h2 class="h5 col-9">ASAA Business Meeting</h2>  
        </div> 
        <div class="col-md-2 pl-0 m-0  row align-items-center"> 
            <div class="rounded-time">
                <span class="font-weight-bold"> 
                    08:30 - 22:00
                </span>
              </div>
        </div> 
        <div class="col-md-6 pl-5 m-0 " >  
            <p class="col-9 small "> Hybrid - in person and virtual</p>
        </div>
    </div>
    
    
    <div class="row mt-4">
        <div class="col-1 "></div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare2.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare1.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare2.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div> 
    </div>
  </div>
  <div class="container"> 
    <hr class="divider"> 
  </div>
<div class="container-fluid pt-0 to-animate">
    
    <div class="row"> 
        <div class="col-md-4 pl-0 m-0  row align-items-center"> 
            <div class="col-3"></div>
            <h2 class="h5 col-9">What Does the IPCC Report Mean for Eastern and Southern Africa?</h2>  
        </div> 
        <div class="col-md-2 pl-0 m-0  row align-items-center"> 
            <div class="rounded-time">
                <span class="font-weight-bold"> 
                    08:30 - 22:00
                </span>
              </div>
        </div> 
        <div class="col-md-6 pl-5 m-0 " >  
            <p class="col-9 small ">Rooftop Foyer, Conference Centre
                IDRC Pre-Conference Climate Debate. A two-hour debate informed by over 14 years of IDRC-funded applied research on climate change. More</p>
        </div>
    </div> 
    
    <div class="row mt-4">
        <div class="col-1 "></div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare2.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare1.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare2.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare1.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
        <div class="col-2 row">
            <div class="col-4 d-none d-md-block">
                <img src="assets/img/sqare1.jpg" class="rounded-circle" width="100%" alt="Circular Image">
            </div>
            <div class="col-8">
                <small>
                    Awino Okech’s research interests  
                </small>
            </div>
        </div>
    </div>
  </div>

  <hr class="divider"> 