<div id="contact"></div>
<hr />
<footer id="footer" class="bg-white text-dark text-left mt-5 pt-2" >
  <div class="container" >
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="row mt-4">
          <div class="col-md-12">
            <h4>Contact</h4>
            <p><strong>All enquiries</strong></p>
            <p>Email: <a href="mailto:as-aa2022.org@uct.ac.za">as-aa2022.org@uct.ac.za</a></p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <h4>Conference organisers</h4>
            <p>CMC – Conference Management Centre</p>
            <p>University of Cape Town, South Africa</p>
            <p>Website: <a href="http://www.example.com">www.example.com</a></p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <h4>Contact person</h4>
            <p>Janet Sirmongpong</p>
            <p>E: <a href="mailto:janet.sirmongpong@uct.ac.za">janet.sirmongpong@uct.ac.za</a></p>
            <p>P: <a href="tel:+27214066348">+27 (0)21 406 6348</a></p>
          </div>
        </div>

      </div>
      <div class="col-sm-12 col-md-6"> 
          <div >
            <img src="assets/img/assa2023.png" style="width: 100%;"/> 
          </div>  
      </div>
    </div>
 
    
  </div>
  <!--/.Footer Links-->
  <hr class="mb-0">
  <!--Copyright-->
  <div class="py-3 text-center">
    Copyright
    <script>
      document.write(new Date().getFullYear())
    </script> <a href="#">MBULA MBOMA</a> 
  </div>
  <!--/.Copyright-->
</footer> 