
<div class="container pt-5 pb-5 mt-5" id="importantDates"> 
    <h2 class="ml-5 text-center mb-5 pb-5">IMPORTANT DATES</h2>
    <p class="text-center">Stay informed with our comprehensive list of important dates. From submission deadlines to conference schedules, we've got you covered with all the essential milestones to mark in your calendar for a seamless and enriching experience on our website.</p>  
    <ul class="nav nav-tabs ml-5" id="myTab" role="tablist">
       
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">May / 21</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">June / 21</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">July / 21 </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="sept-tab" data-bs-toggle="tab" data-bs-target="#sept" type="button" role="tab" aria-controls="sept" aria-selected="false">Sept / 21</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="November-tab" data-bs-toggle="tab" data-bs-target="#November" type="button" role="tab" aria-controls="November" aria-selected="false">Nov / 21</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="jan-tab" data-bs-toggle="tab" data-bs-target="#jan" type="button" role="tab" aria-controls="jan" aria-selected="false">Jan / 22</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="feb-tab" data-bs-toggle="tab" data-bs-target="#feb" type="button" role="tab" aria-controls="feb" aria-selected="false">Feb / 22</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="April-tab" data-bs-toggle="tab" data-bs-target="#April" type="button" role="tab" aria-controls="April" aria-selected="false">April / 22</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="May2-tab" data-bs-toggle="tab" data-bs-target="#May2" type="button" role="tab" aria-controls="May2" aria-selected="false">May / 22</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="Jun-tab" data-bs-toggle="tab" data-bs-target="#Jun" type="button" role="tab" aria-controls="Jun" aria-selected="false">Jun / 22</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="Sep-tab" data-bs-toggle="tab" data-bs-target="#Sep" type="button" role="tab" aria-controls="Sep" aria-selected="false">Sep / 22</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="jan-tab" data-bs-toggle="tab" data-bs-target="#jan" type="button" role="tab" aria-controls="jan" aria-selected="false">Jan / 23</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <table class="table event-table mt-3">
          <tbody>
            <tr>
              <th>01 May 2021</th>
              <td>Call for panels and pre-conference workshop proposals</td>
            </tr>
            <tr>
              <th>11 May 2021</th>
              <td>Start of the HUMA-ASAA “On Being Human in Africa: Epistemological Debates”</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <table class="table event-table mt-3">
          <tbody>
            <tr>
              <th>30 Jun 2021</th>
              <td>Submission of Panel and Pre-Conference Workshop Proposals</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <table class="table event-table mt-3">
          <tbody>
            <tr>
              <th>11 Jul 2021</th>
              <td>Acceptance notification of proposals</td>
            </tr>
            <tr>
              <th>14 Jul 2021</th>
              <td>Call for abstracts</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="sept" role="tabpanel" aria-labelledby="sept-tab">
        <table class="table event-table mt-3">
          <tbody>
            <tr>
              <th>30 Sep 2021</th>
              <td>Submission of abstracts</td>
            </tr> 
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="November" role="tabpanel" aria-labelledby="November-tab">
        <table class="table event-table mt-3">
          <tbody>
            <tr>
              <th>01 Nov 2021</th>
              <td>ASAA2022 early-bird registration</td>
            </tr> 
            <tr>
              <th>14 Nov 2021</th>
              <td> Acceptance notification of abstracts</td>
            </tr> 
          </tbody>
        </table>
      </div>
        
      <div class="tab-pane fade" id="jan" role="tabpanel" aria-labelledby="jan-tab">
        <table class="table event-table mt-3">
          <tbody>
            <tr>
              <th>31 Jan 2022</th>
              <td>Close of early-bird registrations</td>
            </tr> 
          </tbody>
        </table>
      </div>
        
      <div class="tab-pane fade" id="feb" role="tabpanel" aria-labelledby="feb-tab">
        <table class="table event-table mt-3">
          <tbody> 
            <tr>
              <th>01 Feb 2022</th>
              <td>Start of registrations</td>
            </tr>
          </tbody>
        </table>
      </div>
          <div class="tab-pane fade" id="April" role="tabpanel" aria-labelledby="April-tab">
            <table class="table event-table mt-3">
              <tbody>
                <tr>
                  <th>03–08 Apr 2022</th>
                  <td>Pre-conference tours</td>
                </tr>
                <tr>
                  <th>09–10 Apr 2022</th>
                  <td>Pre-conference arrivals</td>
                </tr>
                <tr>
                  <th>11–12 Apr 2022</th>
                  <td>ASAA2022 pre-conference workshops and meetings</td>
                </tr>
                <tr>
                  <th>13 Apr 2022</th>
                  <td>ASAA2022 conference opening and plenaries</td>
                </tr>
                <tr>
                  <th>14 Apr 2022</th>
                  <td>ASAA2022 conference debates</td>
                </tr>
                <tr>
                  <th>15–16 Apr 2022</th>
                  <td>ASAA2022 parallel conference sessions</td>
                </tr>
                <tr>
                  <th>17–22 Apr 2022</th>
                  <td>Post-conference tours</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="May2" role="tabpanel" aria-labelledby="May2-tab">
            <table class="table event-table mt-3">
              <tbody>
                <tr>
                  <th>30 May 2022</th>
                  <td>Submission of concept notes for edited volumes to HUMA-ASAA “Encounters” series</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="Jun" role="tabpanel" aria-labelledby="Jun-tab">
            <table class="table event-table mt-3">
              <tbody>
                <tr>
                  <th>30 Jun 2022</th>
                  <td>Submission of draft papers for “Encounters” series</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="Sep" role="tabpanel" aria-labelledby="Sep-tab">
            <table class="table event-table mt-3">
              <tbody>
                <tr>
                  <th>01 Sep 2022</th>
                  <td>Acceptance notification of draft papers for “Encounters” series</td>
                </tr>
                <tr>
                  <th>30 Sep 2022</th>
                  <td>Submission of final papers for “Encounters” series</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="jan" role="tabpanel" aria-labelledby="jan-tab">
            <table class="table event-table mt-3">
              <tbody>
                <tr>
                  <th>01–30 Mar 2023</th>
                  <td>Launch of HUMA-ASAA “Encounters” series</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
       
  </div>