<div class="w100 text-center" style="background: rgb(0, 0, 0); height: 20vw; overflow: hidden;">
    <img src="assets/img/im4.jpg" style="width: 100%; opacity: 0.6;" />
    <h1 class="h1 text-white text-center" style="position: absolute; top: 20vh; left: 0; right: 0;">Accommodation</h1>
</div>
<br /><br />

<div class="container">
    <h5>Accommodation</h5>
    <p>
        For those attending the ASAA2022 in person, we have secured preferential rates with a selection of hotels and backpackers in Cape Town. Please find the details and direct links for bookings below.

For arrival and departure dates, please consider the conference dates and the pre- and post-conference tours.

All prices correct at time of publishing and may be subject to change.
    </p>

    <h5>Hotels</h5>
    <p>You may book directly at the accommodation of your choice. Simply click on the button to to be directed to the booking form with ASAA2022 rates.</p>

    <hr/>
    

    <div class="item row">
        <div class="col-sm-12 col-md-6">
            <h3>Protea Hotel Waterfront Breakwater Lodge</h3>
            <p>Portswood Road, V&A Waterfront, Cape Town, 8002 | Tel: +27 21 406 1911 | Contact: Fabian Taai | Visit website</p>

            <p>Rates: Single Room – R 1 190 / Double Room – R 1 440</p>

            <p>Distance to conference venues: 0 km to GSB (Venue 1) | 10 km / 20 min to drive Baxter (Venue 2)</p>

            <a class="btn btn-primary" href="#"> Book Now</a>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="assets/img/pro6.jpeg" width="100%" />
        </div>
    </div>
    <hr />
    <div class="item row mt-3">
        <div class="col-sm-12 col-md-6">
            <h3>Protea Hotel Sea Point</h3>
            <p>Portswood Road, V&A Waterfront, Cape Town, 8002 | Tel: +27 21 406 1911 | Contact: Fabian Taai | Visit website</p>

            <p>Rates: Single Room – R 1 190 / Double Room – R 1 440</p>

            <p>Distance to conference venues: 0 km to GSB (Venue 1) | 10 km / 20 min to drive Baxter (Venue 2)</p>

            <a class="btn btn-primary" href="#"> Book Now</a>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="assets/img/pro7.jpeg" width="100%" />
        </div>
    </div>
</div>
