<div class="w100 text-center" style="background: rgb(0, 0, 0); height: 20vw; overflow: hidden;">
    <img src="assets/img/ora11.jpeg" style="width: 100%; opacity: 0.6;" />
    <h1 class="h1 text-white text-center" style="position: absolute; top: 20vh; left: 0; right: 0;">climate debate: What Does the IPCC Report Mean for Eastern and Southern Africa?</h1>
</div>
<br /><br />

<div class="container">
    <h6 class="h5 w-50 text-center">Pre-conference climate debate: What Does the IPCC Report Mean for Eastern and Southern Africa?</h6>
    <br />
    <div class="w-50 row">
        <div class="col-sm-12 col-md-6">
            <b>TUE 12 April 2022</b>
            <small>17:00–19:00 SAST (GMT+2)</small>
            <small>Venue: Rooftop Foyer, Conference Centre and online (via Zoom)</small>
            <a class="btn btn-danger" href="https://uct-za.zoom.us/j/94018620811?pwd=VGNhcnJoMFdMTGJ4UWdIV3pwTW95dz09">
                Join the debate Online
            </a>
        </div>
        <div class="col-sm-12 col-md-6">
            <b>Organisers: International Development Research Centre (IDRC) </b>
            <img src="assets/img/logo6.png" height="60" />
        </div>
    </div>
    <br /><br />
    <div class="row ">
        <div class="col-sm-12 col-md-6">
            <h5>Agenda</h5>
            <ul>
                <li>Teaser</li>
                <li>Welcome remarks</li>
                <li>Setting the scene: Reflections on the 2022 IPCC Sixth Assessment Report</li>
                <li>Panel discussion and Q&A from participants</li> 
            </ul>
            <p>
                Each of the panelists will have five minutes to react to Prof. Adelekan’s reflections on the IPCC report. Each panelist will also respond to one of the below questions. Participants will be invited to pose their questions.
            </p>

            
            <h5>Questions to panelists:</h5>
            <ul>
                <li>What were the most compelling messages in the IDRC Working Group II report?</li>
                <li>In your experience, what are the successes and barriers in moving climate knowledge to action?</li>
                <li>To what extent is the IPCC report, and indeed the broader IPCC process, able to deal with the social justice dimensions of climate change?</li>
                <li>What challenges, or opportunities, are we likely to face in responding to the conclusions in this report given COVID? What are the priorities going forward for those working at the intersection of research and action?</li> 
                <li>What would you like to see at COP 27 this year in Egypt?</li>
            </ul>
             
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                <b>Background to the ASAA conference and IDRC pre-conference event</b>: <br> <br> The African Studies Association of Africa (ASAA) will hold its 4th Biennial Conference on 11-16 April 2022, co-hosted by the Institute of Humanities in Africa (HUMA) at the University of Cape Town. The conference is the scientific convening of the Association and is one of the world’s largest gatherings of scholars from Africa and beyond who study Africa. In the past (before COVID) it brought together over 600 delegates for networking, interdisciplinary conversations and sharing of knowledge – for example, when IDRC took part in the conference in Nairobi in 2019. This year over 1,000 participants have registered to take part in person or virtually in this first hybrid version of the conference.
            </p>
            <p>
                The conference provides a space for experts to share knowledge on climate change and stimulate dialogue in a pre-conference event. The event will bring together researchers, policymakers, conference delegates and others in a debate that will be informed by applied research on climate change. Dr Ibidun Adelekan, Professor at the Department of Geography, University of Ibadan, Nigeria, and contributing author to the Africa chapter of the IPCC Sixth Assessment Report, will set the scene for the event by speaking on the new IPCC report.
            </p>
            <h5>Objectives of the event: </h5>
            <h6>Universities and knowledge economies</h6>

            <ul>
                <li>Promote a substantive and somewhat provocative discussion on what the IPCC report means for Africa</li>
                <li>Give visibility for African-based researchers and research organizations leading applied research processes in climate change and climate action</li>
                <li>Influence the ASAA community and conference participants on the urgency for ongoing demand-driven, applied, engaged and participatory research on climate change</li>
                <li>Demonstrate IDRC’s commitment to supporting African researchers, policymakers and communities to move climate knowledge to action</li>
                <li>Be inspired by the discussion to influence the way forward on the IDRC Climate Adaptation and Resilience (CLARE) initiative</li>
            </ul> 
        </div>

 
 
    </div>
</div>
       
<div class="container-fluid pl-0 ml-0 mt-5 pt-3 mb-5" id="committees">
    <h2 class="ml-5 text-center mt-5 mb-5 pb-0">PANNELISTES</h2>
      
    <div class="row ">
      <div class="col-sm-12 col-md-3 mb-2">
        <div class="image-div">
          <a href="#" target="_blank">
            <img src="assets/img/prof1.jpg"  alt="Image 1">
            <div class="overlay"></div>
            <span class="year">Divine Fuh (Chair), HUMA </span>
          </a>
        </div>
      </div>
      <div class="col-sm-12  col-md-3 mb-2">
        <div class="image-div">
          <a href="#" target="_blank">
            <img src="assets/img/prof2.jpg" alt="Image 2">
            <div class="overlay"></div>
            <span class="year">Tanja Bosch</span>
          </a>
        </div>
      </div>
      <div class="col-sm-12  col-md-3 mb-2">
        <div class="image-div">
          <a href="#" target="_blank">
            <img src="assets/img/prof4.jpg" alt="Image 2">
            <div class="overlay"></div>
            <span class="year">Christopher Ouma</span>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 mb-2 ">
        <div class="image-div">
          <a href="#" target="_blank">
            <img src="assets/img/prof5.jpg" alt="Image 2">
            <div class="overlay"></div>
            <span class="year">Mandisa Haarhoff</span>
          </a>
        </div>
      </div> 
    </div>
  </div>