<nav id="header-navbar" class="navbar navbar-dark navbar-expand-lg navbar-transparent" style="background-color: transparent;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="width: 40vw;">
        <img src="assets/img/assa2023.png" alt="Bootstrap"  height="80">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item ml-5 dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ABOUT
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/#confTheme">Conference Theme</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/#importantDates">Important Dates</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/#confFormat">Conference Format</a></li> 
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/#committees">Committees</a></li> 
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/#parteners">Partners & Sponsors</a></li>  
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/predebates">Pre-conference Debates</a></li> 
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/#scholarships">Scolarships</a></li> 
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/#stories">HUMA - ASAA  "Encounter Series"</a></li> 
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/#stories">Contact</a></li> 
                </ul>
            </li>
            <li class="nav-item ml-5 dropdown ">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  PROGRAMME
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"></a></li>
                  <div class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="">Conference Programme</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/programme-pre-events">Pre-Events</a>
                        <li><hr class="dropdown-divider"></li>
                        <a class="dropdown-item" href="/programme-day-1">Day 1</a>
                        <li><hr class="dropdown-divider"></li>
                        <a class="dropdown-item" href="/programme-day-2">Day 2</a>
                        <li><hr class="dropdown-divider"></li>
                        <a class="dropdown-item" href="/programme-day-3">Day 3</a>
                        <li><hr class="dropdown-divider"></li>
                        <a class="dropdown-item" href="/programme-day-4">Day 4</a>
                      </div>
                  </div>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/keynotes-speakers">Keynote Speakers</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/panels-and-roundtables">Pannels and Roundtables</a></li> 
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/preconf-workshop">Pre-conference Workshop : <br /> Journal Work Academy</a></li> 
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/preconf-climate-debate">Pre-conference Climate Debate: <br /> What does the IPCC Report Mean<br /> for Earstern and Southern Africa?</a></li> 
                   
                                    
                </ul>
            </li> 
            <li class="nav-item ml-5 dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  SUBMIT WORK
                </a>
                <ul class="dropdown-menu"> 
                    <li><a class="dropdown-item" href="/submit-work/call-for-panels">Call For Panels</a></li> 
                    <li><hr class="dropdown-divider"></li>
                    <li class="dropdown"><a class="dropdown-item" href="/submit-work/call-for-abstract">Call For Abstracts</a></li>  
                </ul>
            </li> 
            <li class="nav-item ml-5 dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  PLAN YOUR ATTENDANCE
                </a>
                <ul class="dropdown-menu">
                  <div class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="">In Person</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/in-person/venues">Venues</a>
                        <li><hr class="dropdown-divider"></li>
                        <a class="dropdown-item" href="/in-person/accommodation">Accommodation</a> 
                        <li><hr class="dropdown-divider"></li>
                        <a class="dropdown-item" href="/in-person/pre-and-post-conference-tours">Pre and Post Conference Tours</a>
                      </div>
                  </div>
                    <li><a class="dropdown-item" href="/attendance/in-person"></a></li> 
                    <li><hr class="dropdown-divider"></li>
                    <li class="dropdown"><a class="dropdown-item" href="/attendance/as-exhibitor">As Exhibitor</a></li>  
                </ul>
            </li> 
            <li class="nav-item ml-5"> <a class="nav-link" href="/register">REGISTER</a>  
            </li>
           
        </ul> 
      </div>
    </div>
  </nav>
