<div class="w100 text-center" style="background: rgb(0, 0, 0); height: 20vw; overflow: hidden;">
    <img src="assets/img/im1.jpg" style="width: 100%; opacity: 0.6;" />
    <h1 class="h1 text-white text-center" style="position: absolute; top: 20vh; left: 0; right: 0;">VENUES</h1>
</div>
<br /><br />

<div class="container">
    <div class="w-50">
        <h5 class="h5">Venues</h5>
            <p>The ASAA2022 Conference is held at the University of Cape Town (UCT), South Africa.
                The venues are listed below. Please consult to the programme for the particular venue per day and/or event.</p>
                
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            
            <h5 class="h4">Venue 1: UCT GSB Academic Conference Centre</h5>
            <p>
                UCT Graduate School of Business (GSB) <br />
UCT Breakwater Campus<br />
9 Portswood Rd, Victoria & Alfred Waterfront, Cape Town
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d250082.69902748126!2d27.327923401078273!3d-11.655937264260022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sLubumbashi%20google%20map!5e0!3m2!1sfr!2scd!4v1685043094642!5m2!1sfr!2scd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-sm-12 col-md-6"> 
            <h5 class="h4">Venue 1: UCT GSB Academic Conference Centre</h5>
            <p>
                UCT Graduate School of Business (GSB) <br />
UCT Breakwater Campus<br />
9 Portswood Rd, Victoria & Alfred Waterfront, Cape Town
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d250082.69902748126!2d27.327923401078273!3d-11.655937264260022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sLubumbashi%20google%20map!5e0!3m2!1sfr!2scd!4v1685043094642!5m2!1sfr!2scd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>