<div class="w100 text-center" style="background: rgb(0, 0, 0); height: 20vw; overflow: hidden;">
    <img src="assets/img/hotel2.jpg" style="width: 100%; opacity: 0.6;" />
    <h1 class="h1 text-white text-center" style="position: absolute; top: 20vh; left: 0; right: 0;">Pre- and post conference tours</h1>
</div>
<br /><br />


<div class="container">
    <h4>Pre- and post conference tours</h4>
    <p>
        Explore Cape Town and the Southern tip of Africa! Cape Town is on of the top global travel destinations. It boasts breathtaking landscapes, award-winning wines, historic places and anything outdoor lovers can wish for. If you would like to venture further into the continent – Cape Town is the ideal hub to start your trip.
    </p>

    <p>
        We teamed up with Quality Touring Services (QTS) as tour organiser. ASAA2022 delegates may book and arrange tours directly with QTS, simply click the button below to access the booking page. For questions, please contact Robin Troup at QTS via email on robin@qualitytouringservices.co.za.
    </p>

    <a class="btn btn-success" href="#" >Send an email to book a tour</a>

    <br /><br />
    See below a list of preselected tours. Custom tours according to your personal requirements, available budget and dates are also an option.
 
    <br /><br />
    <h4>Half-day tours</h4>
    <ul>
        <li>Cape Winelands</li>
        <li>Cape Point and Penguins</li>
        <li>Robben Island</li>
        <li>Township</li>
        <li>Cape Town</li>
    </ul>
    <br /> 
    <h4>Full day tours</h4>
    <ul>
        <li>Cape Winelands</li>
        <li>Cape Point and Penguins</li>
        <li>Robben Island</li>
        <li>Township</li>
        <li>Cape Town</li>
    </ul>
    <br /> 
    <h4>Multi-day tours</h4>
    <ul>
        <li>Cape Winelands</li>
        <li>Cape Point and Penguins</li>
        <li>Robben Island</li>
        <li>Township</li>
        <li>Cape Town</li>
    </ul>
</div>