<div class="w100 text-center" style="background: rgb(0, 0, 0); height: 20vw; overflow: hidden;">
    <img src="assets/img/year1.jpeg" style="width: 100%; opacity: 0.6;" />
    <h1 class="h1 text-white text-center" style="position: absolute; top: 20vh; left: 0; right: 0;">Pre-conference debates</h1>
</div>
<br /><br />
<div class="container">
    <hr class="divider">
</div>
<div class="container-fluid pt-0 to-animate">
    
    <div class="row"> 
        <div class="col-md-6 pl-0 m-0  row align-items-center"> 
            <div class="col-3"></div>
            <h2 class="h3 col-9">Thinking the human through Africa: Epistemological debates</h2> 
        </div> 
        <div class="col-md-6 pl-5 m-0 " >  
            <p class="col-9 small ">Which ideas and/or concepts are vital for thinking the human through Africa? If modern histories of colonialism exposed the contradictions at the core of Enlightenment affirmations of a shared human nature, late (post)modernity have also blighted efforts to establish peaceful, dignified and mutually respectful modes of living. What does it mean to be human in Africa and/or African in the world? What alternatives remain to imagine the human from Africa, and how can African epistemologies contribute to thinking the human globally?

                This HUMA-ASAA series of debates leading up to the ASAA 2022 Biennial Conference aims to provoke pertinent questions and stir ideological debates about the ethics of being human in Africa and being African in the world today. The discussions are organised around key pillars that allow us to move from everyday ideas to analytical concepts.
                
                Format: The seminars are being held once a month, convening two scholars in conversation around an epistemological question, followed by a Q&A session. </p>
        </div>
    </div> 
  </div>
  <div class="container">
    <hr class="divider">
    <h2 class="h2">Past sessions</h2>
    <hr class="divider">
  </div>

  <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <iframe width="100%" height="350" src="https://www.youtube.com/embed/QMnV7C0bjR8" title="Race and gender struggles in Africa and the diaspora. Keisha-Khan Perry and Awino Okech" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-sm-12 col-md-6">
            <h5 class="h5">Tue, 23 Nov 2021</h5>
            <small class="small">19:00 – 20:30 SAST (GMT + 2:00)</small>
            <h3 class="h4">Race and gender struggles in Africa and the diaspora</h3>
            <i class="small b">Speakers: Keisha-Khan Perry and Awino Okech</i>
            
            <hr class="divider">
            <div class="row">
                <div class="col-2 d-none d-md-block">
                    <img src="assets/img/sqare1.jpg" class="rounded-circle" width="100%" alt="Circular Image">
                </div>
                <div class="col-10">
                    <small>
                        Keisha-Khan Perry is a feminist anthropologist, political activist, and professor of Africana Studies at the University of Pennsylvania, US. She writes on urban social movements fighting against the violence of forced displacement. Keisha-Khan is the author of the prize-winning book
                    </small>
                </div>
            </div>
            <hr class="divider">
            <div class="row">
                <div class="col-2 d-none d-md-block">
                    <img src="assets/img/sqare2.jpg" class="rounded-circle" width="100%" alt="Circular Image">
                </div>
                <div class="col-10">
                    <small>
                        Awino Okech’s research interests lie in the nexus between gender, sexuality, security, and nation/state-making projects as they occur in conflict and post-conflict societies. Awino is attentive to power in knowledge production and transfer processes and explores these dynamics through the methodological and pedagogical choices in her research and in the classroom. 
                    </small>
                </div>
            </div>
        </div>
    </div>
    
    <hr class="divider">
  </div>
  
  <br />

  
  <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <iframe width="100%" height="350" src="https://www.youtube.com/embed/4elaICxQngU" title="The land question and being human in Africa and the diaspora. Robbie Shilliam and Sabatho Nyamsenda" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-sm-12 col-md-6">
            <h5 class="h5">Tue, 23 Nov 2021</h5>
            <small class="small">19:00 – 20:30 SAST (GMT + 2:00)</small>
            <h3 class="h4">Race and gender struggles in Africa and the diaspora</h3>
            <i class="small b">Speakers: Keisha-Khan Perry and Awino Okech</i>
            
            <hr class="divider">
            <div class="row">
                <div class="col-2 d-none d-md-block">
                    <img src="assets/img/sqare1.jpg" class="rounded-circle" width="100%" alt="Circular Image">
                </div>
                <div class="col-10">
                    <small>
                        Keisha-Khan Perry is a feminist anthropologist, political activist, and professor of Africana Studies at the University of Pennsylvania, US. She writes on urban social movements fighting against the violence of forced displacement. Keisha-Khan is the author of the prize-winning book
                    </small>
                </div>
            </div>
            <hr class="divider">
            <div class="row">
                <div class="col-2 d-none d-md-block">
                    <img src="assets/img/sqare2.jpg" class="rounded-circle" width="100%" alt="Circular Image">
                </div>
                <div class="col-10">
                    <small>
                        Awino Okech’s research interests lie in the nexus between gender, sexuality, security, and nation/state-making projects as they occur in conflict and post-conflict societies. Awino is attentive to power in knowledge production and transfer processes and explores these dynamics through the methodological and pedagogical choices in her research and in the classroom. 
                    </small>
                </div>
            </div>
        </div>
    </div>
    
    <hr class="divider">
  </div>