<div class="w100 text-center" style="background: rgb(0, 0, 0); height: 20vw; overflow: hidden;">
    <img src="assets/img/im2.jpg" style="width: 100%; opacity: 0.6;" />
    <h1 class="h2 text-white text-center" style="position: absolute; top: 20vh; left: 0; right: 0;">Secure your attendance – in person or virtual <br /> At the ASAA2022 Conference today! </h1>
</div>
<br /><br />

<div class="container">
    <h3>Africa and the Human:
        Old questions, new imaginaries</h3>
    <h6>
        Secure your attendance – in person or virtual – at the ASAA2022 Conference today! Click the button below to register.
    </h6>

    <p>
        Dear Participant

Please complete the Sign-In page below in order for your details to be auto-filled on the Registration Page, if you have submitted a Panel Proposal or an Abstract.

**Important Note: You have to use the EMAIL and PASSWORD which was used when creating your profile on the Panel or Abstract Submission pages.

New users, if you have not submitted a Panel Proposal or an Abstract you will need to create a new account on the Sign-In page.
    </p>

    <a class="btn btn-success" href="https://uctcmc.eventsair.com/4th-biennial-conference-of-the-african-studies-association-of-africa/registration/Site/Register" >Register now</a>

    <br /><br />
    <h4>Your ASAA Registration Package</h4>
    <p>You can tailor your package when registering.</p>
    <br /><br />
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h6>Registration fees include</h6>
            <ul>
                <li>Attendance for conference days</li>
                <li>Welcome cocktail at conference opening</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <h6>Add-ons:</h6>
            <ul>
                <li>Gala Dinner (R 800 / $ 85)</li>
                <li>Partner attending Gala Dinner (R 800 / $ 85)</li>
                <li>Partner attending welcome cocktails (R 450 / $ 35)</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <h6>Payment options:</h6>
            <p>
                Credit card, bank payment, or cash (in South African Rands at the conference) are accepted.
            </p>
        </div>
    </div>
    <br /><br />
    <table class="table w-100">
        <thead>
            <tr>
              <th> </th>
              <th>EARLY BIRD REGISTRATION<br />
                ENDS 28 FEBRUARY 2022</th>
              <th>REGULAR REGISTRATION<br />
                STARTS 1 MARCH 2022</th>
            </tr>
          </thead> 
          <tbody>
            <tr>
              <td>Delegate</td>
              <td>R 3 800* | R 4 500<br />
                $ 270* | $ 315</td>
            <td>R 3 800* | R 4 500<br />
                $ 270* | $ 315</td>
            </tr>
            <tr>
              <td>Virtual Delegate</td>
              <td>R 3 800* | R 4 500<br />
                $ 270* | $ 315</td>
            <td>R 3 800* | R 4 500<br />
                $ 270* | $ 315</td>
            </tr>
            <tr>
              <td>Student</td>
              <td>R 3 800* | R 4 500<br />
                $ 270* | $ 315</td>
                
              <td>R 3 800* | R 4 500<br />
                $ 270* | $ 315</td>
            </tr>
            <tr>
              <td>Virtual Student</td>
              <td>R 3 800* | R 4 500<br />
                $ 270* | $ 315</td>
              
                <td>R 3 800* | R 4 500<br />
                    $ 270* | $ 315</td>
            </tr>
            <tr>
              <td>Day Pass</td>
              <td>R 3 800* | R 4 500<br />
                $ 270* | $ 315</td>
              
                <td>R 3 800* | R 4 500<br />
                    $ 270* | $ 315</td>
            </tr>
          </tbody>
        </table>

    <h4>Cancellation</h4> 
    <p>Cancellations need to be made in writing and emailed to Janet Sirmongpong at janet.sirmongpong@uct.ac.za

        A 15% cancellation fee applies before 28 February 2022. Thereafter, a 100% cancellation fee will apply.</p>
</div>