<app-home-caroussel></app-home-caroussel>
<div class="container-fluid mt-5 mb-0 ">
  <div class="row">
    <div class="col-sm-12 col-md-3 mb-3">
      <div class="image-div">
        <a href="https://as-aa.org/index.php/conference-workshops/asaa-2017-conference" target="_blank">
          <img src="assets/img/year1.jpg" alt="Image 1">
          <div class="overlay"></div>
          <span class="year">2017</span>
        </a>
      </div>
    </div>
    <div class="col-sm-12  col-md-3 mb-3">
      <div class="image-div">
        <a href="https://2019conference.as-aa.org/" target="_blank">
          <img src="assets/img/year2.jpeg" alt="Image 2">
          <div class="overlay"></div>
          <span class="year">2019</span>
        </a>
      </div>
    </div>
    <div class="col-sm-12  col-md-3 mb-3">
      <div class="image-div">
        <a href="https://2022conference.as-aa.org" target="_blank">
          <img src="assets/img/year3.jpeg" alt="Image 2">
          <div class="overlay"></div>
          <span class="year">2022</span>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 mb-3">
      <div class="image-div">
        <a href="index.html" target="_blank">
          <img src="assets/img/pro1.jpeg"  alt="Image 2">
          <div class="overlay"></div>
          <span class="year">2023</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container1 to-animate" id="confTheme">
  <div class="left-div d-none d-md-block" style="background-color: rgb(44, 37, 15); opacity: 1;">
    <img src="assets/img/ora1.jpeg" style="opacity: 0.9;" height="150" alt="Image"> 
  </div>
  <div class="right-div text-white">
    <p class="h4">Conference theme</p>
    <h2 class="h3 col-9">ASAA 22 – Africa and the Human: Old questions, new imaginaries</h2>
    <p class="col-9 small">What does it mean to be human today in Africa, African in the world today, and what can Africa contribute to thinking the human? The idea of the human is increasingly threatened by destabilising transformations as the world gradually moves to what is defined by some as the abyss of modernity and the aftershocks of the postmodern. Will prevalent ideas of being human and/or being African survive? Should the idea of the human and African be saved, and as we move into the Anthropocene/posthuman...</p>
    <a href="#" class="btn">Read more</a>
  </div>
</div>
 

<app-important-dates></app-important-dates>


<div class="container1 mt-5" id="confFormat">
  <div class="right-div text-white" style="background-color: rgb(14, 63, 10);">
    <p class="h4">Conference format</p>
    <h2 class="h3 col-9">SAA2022 is a hybrid event – you can attend in person or join virtually.</h2>
    <p class="col-9 small">As a hybrid event, we offer you the flexibility to choose between attending in person at our magnificent venue or joining us virtually from the comfort of your own space. ...</p>
     
  </div>
  
  <div class="left-div d-none d-md-block">
    <img src="assets/img/pro2.jpeg" alt="Image"> 
    <div class="overlay" style="background-color: black;"></div>
  </div>
</div>

<div class="container-fluid pl-0 ml-0 mt-5 pt-3 mb-5" id="committees">
  <h2 class="ml-5 text-center mt-5 mb-5 pb-5">COMMETTEE</h2>
    
  <div class="row ">
    <div class="col-sm-12 col-md-3 mb-2">
      <div class="image-div">
        <a href="#" target="_blank">
          <img src="assets/img/prof1.jpg"  alt="Image 1">
          <div class="overlay"></div>
          <span class="year">Divine Fuh (Chair), HUMA </span>
        </a>
      </div>
    </div>
    <div class="col-sm-12  col-md-3 mb-2">
      <div class="image-div">
        <a href="#" target="_blank">
          <img src="assets/img/prof2.jpg" alt="Image 2">
          <div class="overlay"></div>
          <span class="year">Tanja Bosch</span>
        </a>
      </div>
    </div>
    <div class="col-sm-12  col-md-3 mb-2">
      <div class="image-div">
        <a href="#" target="_blank">
          <img src="assets/img/prof4.jpg" alt="Image 2">
          <div class="overlay"></div>
          <span class="year">Christopher Ouma</span>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 mb-2 ">
      <div class="image-div">
        <a href="#" target="_blank">
          <img src="assets/img/prof5.jpg" alt="Image 2">
          <div class="overlay"></div>
          <span class="year">Mandisa Haarhoff</span>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 mb-2 ">
      <div class="image-div">
        <a href="#" target="_blank">
          <img src="assets/img/prof6.jpg"  style="height: 300px; width: auto;" alt="Image 2">
          <div class="overlay"></div>
          <span class="year">Mandisa Haarhoff</span>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 mb-2 ">
      <div class="image-div">
        <a href="#" target="_blank">
          <img src="assets/img/prof8.jpg" style="height: 300px; width: auto;" alt="Image 2">
          <div class="overlay"></div>
          <span class="year">Mandisa Haarhoff</span>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 mb-2 ">
      <div class="image-div">
        <a href="#" target="_blank">
          <img src="assets/img/prof9.jpg" style="height: 300px; width: auto;" alt="Image 2">
          <div class="overlay"></div>
          <span class="year">Mandisa Haarhoff</span>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 mb-2 ">
      <div class="image-div">
        <a href="#" target="_blank">
          <img src="assets/img/orateur1.jpg"  style="height: 300px; width: auto;" alt="Image 2">
          <div class="overlay"></div>
          <span class="year">Mandisa Haarhoff</span>
        </a>
      </div>
    </div>
  </div>
</div>
<br /><br />

<div class="container-fluid bg-dark mt-5 pt-5 mb-5 to-animate" id="parteners">
    <div class="container text-center pt-5">
      <h2 class="h2 text-white mb-5">Partners and Sponsors</h2>
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-3">
          <img src="assets/img/part1.svg" style="width: 100%;"/> 
        </div>
        <div class="col-sm-12 col-md-4 mb-3">
          <img src="assets/img/part2.png" style="width: 100%;"/> 
        </div>
        <div class="col-sm-12 col-md-4 mb-3">
          <img src="assets/img/part3.jpeg" style="width: 100%;"/> 
        </div>   
      </div>
  </div>
  <br /><br /><br /><br />
</div>

<div class="container pt-5 pb-5 to-animate">
  <h1 class="h3 text-center mb-5 pb-4">OFFICIAL VIDEO -  ASSAA 2023</h1>
  <iframe width="1170" height="650" src="https://www.youtube.com/embed/r7qLOoSn8kc" title="Asaaconference 2023" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
</div>



<div class="container1 mt-5" id="scholarships">
  <div class="right-div text-white" style="background-color: rgb(75, 53, 53);">
    <p class="h4">The ASAA2023 Scholarship Fund</p>
    <h2 class="h3 col-9">The ASAA2023 Scholarship Fund</h2>
    <p class="col-9 small">The ASAA2022 Conference Committee is proud to announce the establishment of a scholarship fund. This one-time opportunity will provide financial assistance toward conference fees for those who would otherwise be unable to attend because they cannot afford it, and we want you there! ...</p>
    <a href="#" class="btn">Read more</a>
  </div>
  
  <div class="left-div d-none d-md-block">
    <img src="assets/img/scholarship.jpg" alt="Image"> 
    <div class="overlay" style="background-color: black;"></div>
  </div>
</div>


<div class="container mt-5 pt-3 to-animate">
  <h1 class="h3 text-center mb-5 pb-4">ASAA 2023 SOLIDARITY MESSAGES</h1>

  <div class="row">
    <div class="col-sm-12 mb-3 col-md-4">
      <iframe width="370" height="208"   src="https://www.youtube.com/embed/wVfg9QxRcAg" title="Akosua Adomako Ampofo, ASAA President. ASAA2022 solidarity message" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="small"><b>Akosua Adomako Ampofo</b>, President of the African Studies Association of Africa (ASAA) and Professor at the University of Ghana</p>
    </div>
    <div class="col-sm-12 mb-3 col-md-4">
      <iframe width="370" height="208" src="https://www.youtube.com/embed/cdYEtTi2HEc" title="Shose Kessi, Dean: Faculty of Humanities, University of Cape Town. ASAA2022 solidarity message" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="small"><b>Shose Kessi</b>, Dean of the Faculty of Humanities at the University of Cape Town, South Africa</p>
    </div>
    <div class="col-sm-12 mb-3 col-md-4">
      <iframe width="370" height="208" src="https://www.youtube.com/embed/yyHQ7ILyb6c" title="Divine Fuh, HUMA. ASAA2022 solidarity message" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="small"><b>Divine Fuh</b>, Director of HUMA – Institute for Humanities in Africa, University of Cape Town, South Africa</p>
    </div> 
  </div>
</div>


<div class="container1 mt-5" id="stories">
  
  <div class="left-div d-none d-md-block">
    <img src="assets/img/counters.jpg" alt="Image"> 
    <div class="overlay" style="background-color: black;"></div>
  </div>
  <div class="right-div text-white" style="background-color: rgb(109, 18, 12);">
    <p class="h4">HUMA–ASAA “Encounters” Series</p>
    <h2 class="h3 col-9">Encounters: Africa and the World</h2>
    <p class="col-12 small">The Encounters Series showcases cutting-edge scholarship that interrogates and critically reflects on Africa’s place and relationship with the world through foregrounding African epistemologies. What can we learn when we imagine the world through Africa? How has Africa shaped the world, and how have encounters between Africa and the world opened up new possibilities?

      Largely derived from the discussions at the ASAA2022 conference, this series features in-depth analysis and empirical research that centre African perspectives in processes of worldmaking through encounters with Africa. Published with Langaa RPCIG and other partners, the “Encounters” series is a collaboration between HUMA and ASAA....</p>
    
  </div>
  
</div>


