<div class="w100 text-center" style="background: rgb(0, 0, 0); height: 20vw; overflow: hidden;">
    <img src="assets/img/counters.jpg" style="width: 100%; opacity: 0.6;" />
    <h1 class="h1 text-white text-center" style="position: absolute; top: 20vh; left: 0; right: 0;">Keynotes Speakers</h1>
</div>
<br /><br />
<div class="container pl-0 ml-0 mt-5 pt-3 mb-0" id="committees"> 
      
    <div class="row ">
      <div class="col-sm-12 col-md-3 mb-2">
        <div class="image-div">
          <a href="#" target="_blank">
            <img src="assets/img/prof1.jpg"  alt="Image 1">
            <div class="overlay"></div>
            <span class="year">Divine Fuh (Chair), HUMA </span>
          </a>
        </div>
      </div>
      <div class="col-sm-12  col-md-3 mb-2">
        <div class="image-div">
          <a href="#" target="_blank">
            <img src="assets/img/prof2.jpg" alt="Image 2">
            <div class="overlay"></div>
            <span class="year">Tanja Bosch</span>
          </a>
        </div>
      </div>
      <div class="col-sm-12  col-md-3 mb-2">
        <div class="image-div">
          <a href="#" target="_blank">
            <img src="assets/img/prof4.jpg" alt="Image 2">
            <div class="overlay"></div>
            <span class="year">Christopher Ouma</span>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 mb-2 ">
        <div class="image-div">
          <a href="#" target="_blank">
            <img src="assets/img/prof5.jpg" alt="Image 2">
            <div class="overlay"></div>
            <span class="year">Mandisa Haarhoff</span>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 mb-2 ">
        <div class="image-div">
          <a href="#" target="_blank">
            <img src="assets/img/prof6.jpg"  style="height: 300px; width: auto;" alt="Image 2">
            <div class="overlay"></div>
            <span class="year">Mandisa Haarhoff</span>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 mb-2 ">
        <div class="image-div">
          <a href="#" target="_blank">
            <img src="assets/img/prof8.jpg" style="height: 300px; width: auto;" alt="Image 2">
            <div class="overlay"></div>
            <span class="year">Mandisa Haarhoff</span>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 mb-2 ">
        <div class="image-div">
          <a href="#" target="_blank">
            <img src="assets/img/prof9.jpg" style="height: 300px; width: auto;" alt="Image 2">
            <div class="overlay"></div>
            <span class="year">Mandisa Haarhoff</span>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 mb-2 ">
        <div class="image-div">
          <a href="#" target="_blank">
            <img src="assets/img/orateur1.jpg"  style="height: 300px; width: auto;" alt="Image 2">
            <div class="overlay"></div>
            <span class="year">Mandisa Haarhoff</span>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="container pl-0 ml-0 mt-0 pt-0 mb-5" id="committees"> 
      <div class="row ">
        <div class="col-sm-12 col-md-3 mb-2">
          <div class="image-div">
            <a href="#" target="_blank">
              <img src="assets/img/prof1.jpg"  alt="Image 1">
              <div class="overlay"></div>
              <span class="year">Divine Fuh (Chair), HUMA </span>
            </a>
          </div>
        </div>
        <div class="col-sm-12  col-md-3 mb-2">
          <div class="image-div">
            <a href="#" target="_blank">
              <img src="assets/img/prof2.jpg" alt="Image 2">
              <div class="overlay"></div>
              <span class="year">Tanja Bosch</span>
            </a>
          </div>
        </div>
        <div class="col-sm-12  col-md-3 mb-2">
          <div class="image-div">
            <a href="#" target="_blank">
              <img src="assets/img/prof4.jpg" alt="Image 2">
              <div class="overlay"></div>
              <span class="year">Christopher Ouma</span>
            </a>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 mb-2 ">
          <div class="image-div">
            <a href="#" target="_blank">
              <img src="assets/img/prof5.jpg" alt="Image 2">
              <div class="overlay"></div>
              <span class="year">Mandisa Haarhoff</span>
            </a>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 mb-2 ">
          <div class="image-div">
            <a href="#" target="_blank">
              <img src="assets/img/prof6.jpg"  style="height: 300px; width: auto;" alt="Image 2">
              <div class="overlay"></div>
              <span class="year">Mandisa Haarhoff</span>
            </a>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 mb-2 ">
          <div class="image-div">
            <a href="#" target="_blank">
              <img src="assets/img/prof8.jpg" style="height: 300px; width: auto;" alt="Image 2">
              <div class="overlay"></div>
              <span class="year">Mandisa Haarhoff</span>
            </a>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 mb-2 ">
          <div class="image-div">
            <a href="#" target="_blank">
              <img src="assets/img/prof9.jpg" style="height: 300px; width: auto;" alt="Image 2">
              <div class="overlay"></div>
              <span class="year">Mandisa Haarhoff</span>
            </a>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 mb-2 ">
          <div class="image-div">
            <a href="#" target="_blank">
              <img src="assets/img/orateur1.jpg"  style="height: 300px; width: auto;" alt="Image 2">
              <div class="overlay"></div>
              <span class="year">Mandisa Haarhoff</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  <br /><br />
